//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./_mixins.scss";
@import "./_typography.scss";
@import "./_reset.scss";

:root {
  --bgColor: #fff;
  --textColor: #333;
  --primaryColor: #000000;
  --primaryColorDarker: #606060;
  --primaryContrast: #fff;
  --fontFamily: DIN, sans-serif;
  --borderSize: 3px;
  --borderRadius: 5px;
}

body {
  margin: 0;
  background-color: var(--bgColor);
  color: var(--primaryColorDarker);
  font-family: var(--fontFamily);
  font-weight: normal;
}

html,
body {
  background: var(--bgColor);
  font-size: 18px;
  color: var(--textColor);

  &.theme-blue {
    --bgColor: #e1e1df;
    --textColor: #066b7d;
    --primaryColor: hsl(189, 90%, 46%);
    --primaryColorDarker: #066b7d;
    --primaryContrast: #fff;

    --borderSize: 3px;
    --borderRadius: 5px;
  }

  &.theme-green {
    --bgColor: #e4e4cf;
    --textColor: hsl(163, 100%, 36%);
    --primaryColor: hsl(163, 100%, 36%);
    --primaryColorDarker: hsl(163, 100%, 26%);
    --primaryContrast: #fff;
    --fontFamily: DIN, sans-serif;
  }

  &.theme-gradient {
    --bgColor: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(122,86,198,1) 100%);
    --textColor: #FFF;
    --primaryColor: #423761;
    --primaryColorDarker: #615288;
    --primaryContrast: #fff;
    --fontFamily: DIN, sans-serif;
  }

  
}

.btn {
  all: initial;
  font-family: var(--fontFamily);
  background-color: var(--bgColor);
  border: var(--borderSize) solid var(--textColor);
  color: var(--textColor);
  padding: 0.8em 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-radius: var(--borderRadius);
  font-size: 1rem;
  box-sizing: border-box;

  &.rounded {
    
    background-color: var(--primaryColor);
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 2rem;
    height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
  }

  &.primary {
    background-color: var(--bgColor);
    border: var(--borderSize) solid var(--primaryColor);
    color: var(--primaryColor);

    &:hover {
      background-color: var(--primaryColor);
      color: var(--primaryContrast);
    }
  }

  &:hover {
    background-color: var(--primaryColorDarker);
    color: var(--bgColor);
  }

  &.extended {
    width: 100%;
  }
}

.title {
  margin-bottom: 2rem;
  font-family: Harmonia;
  font-weight: bold;
  color: var(--textColor);
}

.subtitle {
  
  // font-weight: bold;
  margin-top: -1rem;
  font-weight: bold;
  color: var(--textColor);
}

.field {
  label {
    margin-right: 1rem;
  }

  &.inline {
    display: flex;
    align-items: center;
  }
}

.is-bold {
  font-weight: bold;
}

.is-size-1 {
  font-size: 3rem;
}

.is-size-3 {
  font-size: 2.5rem;
}

.is-size-4 {
  font-size: 1.4rem;
}

.is-size-6 {
  font-size: 1rem;
}

.section {
  padding: 3rem 1.5em;

  &.top {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;

    @include breakpoint(md) {
      max-width: 960px;
    }

    @include breakpoint(lg) {
      max-width: 1152px;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 22px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;

  background: var(--primaryColor);
  border-radius: 1.3px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 4px;

  background: var(--primaryColor);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primaryColor);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

.togglebutton {
  position: relative;
}

.button-cover
{
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    content: 'YES';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'NO';
    left: 42px;
    background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}